@charset "utf-8";
/* CSS Document */
@media (max-width: 479px) {
	.container {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.panel-heading,
	.panel-body {
		padding: 5px;
	}
	.panel-primary {
		margin-bottom: 1px;
	}
}


/* Default Margins */
.mln {
	margin-left: 0;
}
.mls {
	margin-left: 5px;
}
.mlm {
	margin-left: 10px;
}
.mll {
	margin-left: 20px;
}


#regulamento {
	overflow: auto;
	max-height: 600px;
}
.modal {
	display: block;
}

table, .table {
	font-size: 100%;
}
.table:last-child {
	margin-bottom: 0;
}

/* Sumula */
.team-members {
	width: 100%;
}
.team-members tr.teams {
	background-color: #EFEFEF;
}
.team-members tr.teams h4 {
	margin: 0;
}
table.team-members>tbody>tr.teams>td {
	vertical-align: middle;
}
.score {
	font-size: 40px;
	font-weight: 900;
	line-height: 1;
}
.team {
	font-size: 140%;
}
.team .goal {
}

.team button {
  position: relative;
  margin-left: 5px;
}
.team .btn .total {
  background-color: red;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; /* future proofing */
	color: #FFF;
  display: block;
  font-size: 8px;
  font-weight: 900;
  height: 16px;
  line-height: 10px;
  padding: 3px 3px 3px 1px;
  position: absolute;
  right: -3px;
  top: -5px;
  width: 16px;
}

.sumula .sprite {
	background: url(../images/sumula.fw.png) 0px 0px no-repeat;
	display: block;
	height: 32px;
	width: 32px;
}
.sumula .sprite.own-goal {
	background-position: -64px 0px;
}
.sumula .sprite.foul {
	background-position: -246px 0px;
}
.sumula .sprite.red-card {
	background-position: -182px 0px;
	width: 20px;
}
.sumula .sprite.yellow-card {
	background-position: -128px 0px;
	width: 20px;
}

.classificacao .sm {
	text-align: center;
	width: 5%;
}
.classificacao .sm.highlight {
	font-size: 130%;
	font-weight: 900;
}
@media (max-width: 767px) {
	.classificacao .mobile-hidden {
		display: none;
	}
}

/* Color picker */
#colorpicker {
	background-color: #FFF;
	border: 3px solid black;
	display: none;
	height: 205px;
	padding: 2px;
	position: absolute;
	top: 0;
	right: 0;
	width: 205px;

  -moz-box-shadow:    0 0 5px 0 #000;
  -webkit-box-shadow: 0 0 5px 0 #000;
  box-shadow:         0 0 5px 0 #000;
}

.ticker,
.upcomming-ticker {
	margin: 0;
	padding: 0;
	list-style: none;
}
.upcomming-ticker table {
	height: 50px;
}